@import '../../css/variables';

.article {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.article__inner {
  max-width: 760px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: stretch;
  padding: 24px 0;

  @media (min-width: $tablet-breakpoint) {
    padding: 24px 48px;
  }
}
