---
title: "ID Verification"
path: "/hackers/id-verification.html"
id: "id verification"
---

Due to the sensitive nature of their systems, some programs require you to verify your identity before you can submit reports. Hackers who wish to participate in these programs must go through the ID verification process.

### How do I become ID verified?

Any hacker that has submitted a valid report is eligible for ID verification. To start the process, visit the User Profile page and click the **ID Verification** header:

![User settings](/images/id-verification-1.png)

![Verification button](/images/id-verification-2.png)

You will first need to sign our Rules of Engagement. To start complete this, click the Sign the Rules of Engagement button:

![ID Verification Rules of Engagement](/images/id-verification-4.png)

The Rules of Engagement pop up will be displayed. Review the hyperlinked documents and once ready, tick the box to confirm that you agree to the Rules of Engagement and press the **Save** button:

![Agree to Rules of Engagement](/images/id-verification-5.png)

Now you will be able to start the ID Verification by clicking on the Start Verification button:

![Start verification process](/images/id-verification-6.png)

Check out our tips and then click the Start the Process button:

![Verification tips](/images/id-verification-7.png)

You will be redirected to our partner Berbix to continue the process there. If you are not ready to finish your ID verification yet, Berbix will send an email with a link to continue the process later.

### What distinguishes H1 Clear from the standard ID Verification process?

H1 Clear is a stricter and more thorough process that requires a more stringent background check, ensuring that only the most skilled and professional hackers receive this status. The standard ID Verification process is available to any hacker who has submitted a valid report, providing a convenient method for identity confirmation.

### How do I know that my identity is verified?

ID-verified hackers receive a green badge on their profile page:

![Verified badge](/images/id-verification-3.png)

Clear hackers will still see their Clear badge!

### How can I see the status of my ID verification.

The place in the settings page where you started your ID verification will also show the progress of your application.

Please note that Berbix will **not** disclose the status of your ID verification or the reason for which your application got rejected.

### What is Berbix?

We've partnered with [Berbix](https://www.berbix.com/) to verify your identity. Berbix is a company that uses instant image processing to verify your submitted documents. When you start the ID verification process, you will be redirected to Berbix.

Please do not contact our partner Berbix for the status of your ID verification. Berbix will not disclose this information due to its confidentiality.

### How to ensure a smooth ID verification process

To ensure that you get through the process smoothly, here are some tips:

Do you own a passport? Using your passport for ID verification will increase the chances your application will be approved. This is because passports commonly contain text that is easily recognizable by Berbix' image processing technology.

![Machine readable component on a passport](/images/id-verification-passport-example.png)

Are you an US or Canada citizen? Using your state or provincial issued driver's license or identification card will increase the chances your application will be approved. This is because all state or provincial issued driver licenses and identification cards in the United States and Canada contain a barcode on the back that is easily recognizable by Berbix' image processing technology.

Follow the given instructions exactly.

Make sure you submit clear pictures. Blurry pictures make it harder for Berbix to parse the text, and this can result in a failed ID verification.

A shaky hand can ruin your picture! To ensure stability, place the ID document on a flat surface before taking a picture and hold the camera steady.

Also, make sure there are no light reflections on your ID document, as they can make the text unreadable.

If your application is rejected for any reason, you can simply try again! If you fail two times in a row, you will be asked to wait 30 days before applying again.

### Why is my application rejected?

Here is an overview of common reasons for rejection.

#### We were unable to parse the text in the front image

Our partner Berbix is not able to scan the text in your submitted pictures if the photo is blurry or unclear in other ways. Make sure you follow the tips outlined above to ensure high quality pictures.

#### You didn't look in the correct direction in the selfie

Berbix will ask you to take a selfie, make sure you face the screen in this step. Keep your eyes on the screen, and move your head to left and right once instructed. Make sure you turn your head in the correct direction!

#### The selfie consent was declined

During the verification process, you will be asked to consent to Berbix' Terms of Use and their Privacy Statement. All Berbix users are required to provide consent, so your application will be rejected if you decide to decline.

#### No barcode was detected on the ID or the barcode on the ID was not fully readable

If the document you're scanning contains any form of barcode, make sure that your picture fully contains this barcode. Pictures with barcodes that are cut off on the sides or contain blurry barcodes can result in rejections.

#### The provided ID has expired

Your documents need to be up-to-date when applying for ID Verification. Expired documents will be rejected.

#### The provided ID appears to be a photocopy

Photocopies or any other form of scans of your ID will not be accepted. It is crucial that you take a picture of your actual ID document during your application.

#### We were unable to fully read the MRZ on the ID.

If your document contains text that is similar to the text in the image below, make sure that it is fully present in your uploaded images. The text can not be cut off in the image, and it can not be blurry.

![Machine readable component on a passport](/images/id-verification-passport-example.png)

#### You must be at least 18 years old to use this service

At this time, we do not accept users that are younger than 18 years old into the ID Verification program.

