---
title: "ID Verification"
path: "/hackers/id-verification.html"
id: "id verification"
---

Due to the sensitive nature of their systems, some programs require you to verify your identity before you can submit reports. Hackers who wish to participate in these programs must go through the ID verification process.

### How do I become ID verified?

Any hacker that has submitted a valid report is eligible for ID verification. To start the process, simply visit the settings page and click the “Start Verification” button:

![User settings](/images/id-verification-1.png)

![Verification button](/images/id-verification-2.png)

You will be redirected to our partner Berbix to continue the process there. If you are not ready to finish your ID verification yet, Berbix will send an email with a link to continue the process later.

### What is Berbix?

We've partnered with [Berbix](https://www.berbix.com/) to verify your identity. Berbix is a company that uses instant image processing to verify your submitted documents. When you start the ID verification process, you will be redirected to Berbix.

Please do not contact our partner Berbix for the status of your ID verification. Berbix will not disclose this information due to its confidentiality.

### How to ensure a smooth ID verification process

To ensure that you get through the process smoothly, here are some tips:

Do you own a passport? Using your passport for ID verification will increase the chances your application will be approved. This is because passports commonly contain text that is easily recognizable by Berbix' image processing technology.

![Machine readable component on a passport](https://user-images.githubusercontent.com/30273418/236200533-8a27c07f-5f1d-4689-af64-d54e62298c2e.png)

Are you an US or Canada citizen? Using your state or provincial issued dirver license or identification card will increase the chances your application will be approved. This is because all state or provincial issued driver licenses and identification cards in the United States and Canada contain a barcode on the back that is easily recognizable by Berbix' image processing technology.

Follow the given instructions exactly.

Make sure you submit clear pictures. Blurry pictures make it harder for Berbix to parse the text, and this can result in a failed ID verification.

A shaky hand can ruin your picture! To ensure stability, place the ID document on a flat surface before taking a picture and hold the camera steady.

Also, make sure there are no light reflections on your ID document, as they can make the text unreadable.

If your application is rejected for any reason, you can simply try again! If you fail two times in a row, you will be asked to wait 30 days before applying again.

### How do I know that my identity is verified?

ID-verified hackers receive a green badge on their profile page:

![Verified badge](/images/id-verification-3.png)

### How can I see the status of my ID verification.

The place in the settings page where you started your ID verification will also show the progress of your application.

Please note that Berbix will **not** disclose the status of your ID verification or the reason for which your application got rejected.

### What distinguishes H1 Clear from the standard ID Verification process?

H1 Clear is a stricter and more thorough process that requires a more stringent background check, ensuring that only the most skilled and professional hackers receive this status. These hackers are granted additional benefits as a result. The standard ID Verification process is available to any hacker who has submitted a valid report, providing a convenient method for identity confirmation.
