---
title: "ID Verification"
path: "/hackers/id-verification.html"
id: "id verification"
---

Due to the sensitive nature of their systems, some programs require you to verify your identity before you can submit reports. Hackers who wish to participate in these programs must go through the ID verification process.

### How do I become ID verified?

Any hacker that has submitted a valid report is eligible for ID verification. To start the process, simply visit the settings page and click the “Start Verification” button:

![User settings](/images/id-verification-1.png)

![Verification button](/images/id-verification-2.png)

You will be redirected to our partner Berbix to continue the process there. If you are not ready to finish your ID verification yet, Berbix will send an email with a link to continue the process later.

### How to ensure a smooth ID verification process

To ensure that you get through the process smoothly, here are some tips:
Follow the given instructions exactly.
Make sure you submit clear pictures. Blurry pictures make it harder for Berbix to parse the text, and this can result in a failed ID verification.
Use your phone to complete the process in Berbix. Pictures from a phone camera are much higher quality than the ones from your webcam.

If your application is rejected for any reason, you can simply try again! If you fail two times in a row, you will be asked to wait 30 days before applying again.

### How do I know that my identity is verified?

ID-verified hackers receive a green badge on their profile page:

![Verified badge](/images/id-verification-3.png)

### What distinguishes H1 Clear from the standard ID Verification process?

H1 Clear is a stricter and more thorough process that requires a more stringent background check, ensuring that only the most skilled and professional hackers receive this status. These hackers are granted additional benefits as a result. The standard ID Verification process is available to any hacker who has submitted a valid report, providing a convenient method for identity confirmation.
