.item {
  display: inline-block;
  margin: 0;
}

.link {
  display: inline-block;
  padding: 0 16px;
  color: #fff;
}

.wrapper {
  composes: wrapper from "../../css/utilities.module.css";
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  color: white;
  text-decoration: none;
  line-height: 1;
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.logoImage {
  height: 28px;
  width: auto;
  margin: 0;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flexGrow: 1;
}
