@import '../../css/variables';

.changelog {
  h4 {
    margin-bottom: 0;
  }
}

.changelog__wrapper {
  border-top: 1px solid $daisy-whisper;
  padding-top: 24px;
  position: relative;
}

.changelog__anchor {
  position: absolute;
  top: -60px;
  left: 0;
  height: 1px;
  width: 1px;
}
