@import 'reset';
@import 'variables';

body {
  background: $daisy-white;
  font-family: "Effra", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $daisy-zambezi;
}

a {
  color: $daisy-blue;
  transition: color .15s ease-in-out;

  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $daisy-eclipse;
}

.wrapper {
  padding-top: 60px;
}

.hero {
  background-color: #676767;
  color: $daisy-white;
}

.hero__wrapper {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 95px;
  padding-bottom: 85px;
  text-align: center;
}

.homepage-content {
  margin-top: 64px;
  margin-bottom: 64px;
}

.homepage-content__wrapper {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
