@import 'reset';
@import 'variables';

body {
  background: $daisy-snow;
  font-family: "Effra", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $daisy-stacy;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $daisy-blue;
  transition: color .15s ease-in-out;

  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $daisy-eclipse;
}

.wrapper {
  padding-top: 60px;
}

.hero {
  background: url("../images/pattern.png") $daisy-blue;
  color: $daisy-white;
}

td {
  word-break: break-word;
}

.hero__wrapper {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 95px;
  padding-bottom: 85px;
  text-align: center;

  h1 {
    color: $daisy-white;
    font-weight: 300;

    @media (min-width: $mobile-breakpoint) {
      font-size: 60px;
    }
  }

  p {
    font-size: 20px;
    line-height: 1.5;
  }
}

.footer-row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.footer-column {
  display: flex;
  flex: 1 1 33%;
  flex-direction: column;

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}

.footer-column-block {
  display: inline-block;
}

.upvote {
  font-size: 22px;
  text-decoration: none;

  &--down {
    position: relative;
    top: 6px;
  }
}

.homepage-content {
  margin-top: 64px;
  margin-bottom: 64px;
}

.homepage-content__wrapper {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  clear: both;
}

.background {
  background-color: rgba(45,104,244, 0.1);
}

.betanote {
  background-color: rgba(45,104,244,0.3);
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 4px;
  padding-top: 12px;
  margin-bottom: 1.45rem;
  border-left: 6px solid #2D68F4;
  border-radius: 0.3em;
}
