.body {
  background: #fff;
  border-right: 1px solid #e9e9e9;
  height: calc(100vh - 60px);
  overflow-y: auto;
  padding: 24px 48px;
  position: fixed;
  top: 60px;
  width: 340px;
}

.section {
  margin-bottom: 32px;
}

.items,
.subItems {
  margin: 0;
  padding: 0;
}

.subItems {
  font-size: 14px;
  padding-left: 24px;
}

.item {
  list-style: none;
  margin: 16px 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: #3e3e3e;
}

.link:hover {
  color: #2d68f4;
}

.linkActive {
  composes: link;
  color: #2d68f4;
  font-weight: 500;
}

.title {
  font-size: 14px;
  color: #9e9e9e;
  text-transform: uppercase;
  margin: 0 0 8px;
  letter-spacing: 1px;
}
