@import '../../css/variables';

$red: #e74c3c;
$orange: #e67e22;
$yellow: #f1c40f;
$green: #2ecc71;

.status {
  margin-bottom: 16px;

  @media (min-width: $desktop-breakpoint) {
    margin: 0;
  }

  @media (max-width: $tablet-breakpoint) {
    display: block;
  }
}

.status__dot {
  border-radius: 99px;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;

  &--critical {
    background-color: $red;
  }

  &--major {
    background-color: $orange;
  }

  &--minor {
    background-color: $yellow;
  }

  &--none {
    background-color: $green;
  }
}

.status__description {
  display: inline-block;
  color: $daisy-white;
  text-decoration: none;
  font-size: .9em;

  &:active {
    color: $daisy-white;
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    color: $daisy-pink;
  }

  &--active {
    background-color: #676767;
    border-bottom-color: $daisy-pink;

    &:hover {
      color: $daisy-white;
    }
  }
}
