@import '../../css/variables';

.search {
  display: none;

  @media (min-width: $tablet-breakpoint) {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
    margin: 0;
  }
}

.search__input {
  appearance: none;
  background: $daisy-white;
  border: 0;
  border-radius: 4px;
  width: 200px;
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
  position: relative;
  padding: 8px 16px;
  transition: width .2s ease-in-out;

  &:focus {
    width: 300px;
  }
}
