@import '../../css/variables';

.search {
  display: none;

  @media (min-width: $desktop-breakpoint) {
    margin: 0 0 0 24px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.search__input {
  appearance: none;
  background: $daisy-white;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
  position: relative;
  padding: 8px 16px;
  width: 160px;
}
